{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="dnb-contact-details-loading" class="block-footer">
    {{str "LBL_DNB_CONTACT_LOADING"}} {{cntctLoadMsg.contactName}}...
</div>
<div id="dnb-contact-details">
    {{#if dnbCntctDet.product}}
        {{#with dnbCntctDet.product}}
            <div class="accordian dnb-show-all" id="dnb_cntct_det_accordian">
                <!-- Contact Profile Details -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#dnb_cntct_det_accordian" href="#prof_tab">
                            {{str "LBL_DNB_CONTACT_EMP_PROF"}}
                        </a>
                    </div>
                    <div id="prof_tab" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <ul class="unstyled listed">
                                {{#each this.contact_profile}}
                                    {{#if this.dataLabel}}
                                        <li>
                                            <div class="dnb-company-label"> {{str this.dataLabel}} </div>
                                            <div class="txt importData"> {{this.dataElement}} </div>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{#if this.job_hist}}
                    <!-- Job History -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#dnb_cntct_det_accordian" href="#jobhist_tab">
                                {{str "LBL_DNB_CONTACT_JOB_HIST"}}
                            </a>
                        </div>
                        <div id="jobhist_tab" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>{{str "LBL_DNB_CONTACT_JOBTITLE"}}</th>
                                        <th>{{str "LBL_DNB_CONTACT_FROM"}}</th>
                                        <th>{{str "LBL_DNB_CONTACT_TO"}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each this.job_hist}}
                                        <tr>
                                            <td>{{this.title}}</td>
                                            <td>{{this.start_date}}</td>
                                            <td>{{this.end_date}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if this.comp_hist}}
                    <!-- Compensation History -->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#dnb_cntct_det_accordian" href="#comphist_tab">
                                {{str "LBL_DNB_CONTACT_COMP_HIST"}}
                            </a>
                        </div>
                        <div id="comphist_tab" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped table-condensed">
                                    {{#each this.comp_hist}}
                                        <tr>
                                            <td colspan="2">
                                                <div class="txt importData">
                                                    {{str "LBL_DNB_CONTACT_COMP_HIST"}}&nbsp;&nbsp;&nbsp;({{str "LBL_DNB_IN"}}&nbsp;&nbsp;&nbsp;{{this.comp_date}})
                                                </div>
                                            </td>
                                        </tr>
                                        {{#each this.comp_det}}
                                            <tr>
                                                <td>{{this.comp_type}}</td>
                                                <td>
                                                    {{this.comp_amt}}
                                                    &nbsp;&nbsp;&nbsp;({{str "LBL_DNB_IN"}}&nbsp;&nbsp;&nbsp;{{this.comp_curr}})
                                                </td>
                                            </tr>
                                        {{/each}}
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/with}}
    {{else}}
        <aside class='create-no-data'>
            {{#if dnbCntctDet.errmsg}}
                <em>{{dnbCntctDet.errmsg}}</em>
            {{else}}
                <em>{{str "LBL_DNB_NO_DATA"}}</em>
            {{/if}}
        </aside>
    {{/if}}
    <div class="dnb-show-more">
        <a class="backToContactsList">
            <i class="fa fa-arrow-left"></i>
            {{str "LBL_DNB_CONTACT_LIST"}}
        </a>
    </div>
</div>
