{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="dnb-cntct-srch">
    <table class="table dnb-cntct-srch-frm">
        <tr>
            <td>
                <div class="dnb-company-label">{{str "LBL_DNB_CONTACT_NAME"}}</div>
                <input type="text" id="dnb-name" class="input-large" value="{{cntctSrchParams.name}}">
            </td>
            <td>
                <div class="dnb-company-label">{{str "LBL_DNB_CONTACT_JOBTITLE"}}</div>
                <input type="text" id="dnb-job" class="input-large" value="{{cntctSrchParams.jobTitle}}">
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="btns">
                <a href="javascript:void(0);" class="btn btn-primary disabled" id="dnb-cntct-srch-btn">
                    {{str "LBL_DNB_SRCH"}}
                </a>
                &nbsp;&nbsp;
                <a href="javascript:void(0);" class="btn" id="dnb-srch-clear">
                    {{str "LBL_DNB_CLEAR"}}
                </a>
            </td>
        </tr>
    </table>
    <div id="dnb-contact-list-loading" class="block-footer hide">
        {{str "LBL_DNB_CNTCT_LOADING"}} ...
    </div>
    <div id="dnb-contact-list" class="hide">
        {{#if listData.product}}
            <ul class="unstyled listed dnb-short-list">
                {{#each listData.product}}
                    <li>
                        <div class='dnb-company-label'>
                            {{#if this.jobTitle}}
                                {{this.jobTitle}}
                            {{else}}
                                {{str "LBL_DNB_ASSOCIATE"}}
                            {{/if}}
                            {{#eq this.contactType 'dnb-cnt-prem'}}
                                <span class="label label-success pull-right" data-placement="right">
                                    {{str "LBL_DNB_PREMIUM"}}
                                </span>
                            {{/eq}}
                        </div>
                        <div class="dnb-company-label dnb-company-list">
                            <a class="{{this.contactType}}" id="{{this.principalId}}"
                               data-duns="{{this.dunsNum}}">
                                {{this.fullName}}
                            </a>
                            {{#if this.isDupe}}
                                <span class="label label-important pull-right" data-placement="right">
                                    {{str "LBL_DNB_DUPLICATE"}}
                                </span>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="block-footer hide" id="dnb-page-ctrl">
                <button data-action="show-more" class="btn btn-link btn-invisible more">
                    {{str "LBL_DNB_MORE_SRCH_RES"}}
                </button>
                {{loading 'LBL_ALERT_TITLE_LOADING'}}
            </div>
        {{else}}
            <aside class='create-no-data'>
                {{#if listData.errmsg}}
                    <em>{{listData.errmsg}}</em>
                {{else}}
                    <em>{{str "LBL_DNB_NO_DATA"}}</em>
                {{/if}}
            </aside>
        {{/if}}
    </div>
</div>
