{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<li>
    <div class='dnb-company-label'>
        {{#if this.jobTitle}}
            {{this.jobTitle}}
        {{else}}
            {{str "LBL_DNB_ASSOCIATE"}}
        {{/if}}
        {{#eq this.contactType 'dnb-cnt-prem'}}
            <span class="label label-success pull-right" data-placement="right">
                {{str "LBL_DNB_PREMIUM"}}
            </span>
        {{/eq}}
    </div>
    <div class="dnb-company-label dnb-company-list">
        <a class="{{this.contactType}}" id="{{this.principalId}}"
           data-duns="{{this.dunsNum}}">
            {{this.fullName}}
        </a>
        {{#if this.isDupe}}
            <span class="label label-important pull-right" data-placement="right">
                {{str "LBL_DNB_DUPLICATE"}}
            </span>
        {{/if}}
    </div>
</li>
