{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="dnb-no-duns" class="block-footer">
    <aside>
        <em>{{str "LBL_DNB_NO_DUNS"}}</em>
        <br/>
    </aside>
    <div class="row-fluid">
        <div class="span6 record-cell" data-type="enum">
            <div class="record-label">
                {{str "LBL_DNB_COUNTRY"}}
            </div>
            <span class="normal">
                <input type='hidden' id='countryList'/>
            </span>
        </div>
        <div class="span6 record-cell" data-type="enum">
            <div class="record-label">
                <td>{{str "LBL_DNB_STATE"}}</td>
            </div>
            <span class="normal">
                <input type='hidden' id='stateList'/>
            </span>
        </div>
    </div>
    <br/>
    <!--<a href="javascript:void(0);" class="btn btn-primary disabled" id="dnb-match-btn">
        {{str "LBL_DNB_CM_MATCH"}}
    </a>-->
    <button data-action="dnb-match" class="btn btn-primary" id="dnb-match-btn">
        {{str "LBL_DNB_CM_MATCH"}}
    </button>
    <br/>
    <button data-action="dnb-lookup" class="btn btn-link btn-invisible more">
        {{str "LBL_DNB_KEYWORD_SEARCH_HINT"}}
    </button>
</div>
