{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="tab-pane active">
    {{#if collection.length}}
        <ul class="unstyled listed">
            {{#each collection.models}}
                {{#if attributes.in_time}}
                <li>
                {{#if attributes.act_expected_time}}
                    {{#if attributes.expected_time_warning}}
                        <div class="actions pull-right">
                            <date class="label label-important">{{str "LBL_PMSE_LABEL_ERROR_EXPECTED_OVERDUE" this.module}}</date><date>{{attributes.expected_time}}</date>
                        </div>
                    {{else}} <div class="actions pull-right">
                        {{#if attributes.expected_time}}
                            {{str "LBL_PMSE_LABEL_ERROR_EXPECTED_DUE_DATE" this.module}} <date>{{attributes.expected_time}}</date>
                        {{else}}
                            {{str "LBL_PMSE_LABEL_ERROR_EXPECTED_DUE_DATE" this.module}} <code  class="relativetime" style="border: 0; background-color: transparent;"> {{str "LBL_PMSE_LABEL_ERROR_EXPECTED_DUE_DATE_NO_SET" this.module}}</code>
                        {{/if}}
                    </div>
                    {{/if}}
                {{/if}}
                    <p style="margin-left: 0;padding-left: 0px;">
                        <a href="#{{getFieldValue this "show_case_url"}}">{{str "LBL_PMSE_LABEL_PROCESS" this.module}}&nbsp;&nbsp;#&nbsp;&nbsp;{{getFieldValue this "cas_id"}}&nbsp;-&nbsp; {{getFieldValue this "name"}}</a>
                        <!--<a href="#pmse_Inbox/{{getFieldValue this "id2"}}/layout/show-case/{{getFieldValue this "flow_id"}}">Case&nbsp;&nbsp;#&nbsp;&nbsp;{{getFieldValue this "cas_id"}}&nbsp;-&nbsp; {{getFieldValue this "name"}}</a>-->
                        <!--{{buildRoute module="pmse_Inbox" id=attributes.id view="show-case" action=attributes.flow_id}}-->
                    </p>
                    {{#if ../overdueBadge}}
                        {{#with ../../overdueBadge}}
                            {{field ../../../this model=../../this template='detail'}}
                        {{/with}}
                    {{/if}}
                    <div class="details" style="margin-left: 0;padding-left: 0px;">
                        {{#if attributes.is_assigned}}
                            <a href="#{{buildRoute module="Employees" id=attributes.cas_user_id action="detail"}}">
                                {{getFieldValue this "cas_user_id_full_name"}}
                            </a>
                        {{else}}
                            {{str "LBL_UNASSIGNED" this.module}}
                        {{/if}}
                        <!--&#44;&nbsp; attributes.record_date //task_name -->
                        <!--<date class="date">{{relativeTime attributes.overdue}}</date>
                        <date class="date">{{relativeTime attributes.date_due}}</date>-->
                        <strong>{{getFieldValue this "task_name"}}</strong>
                        <!--{{#if attributes.act_expected_time}}-->
                        <!--&#44;&nbsp;-->
                            <!--{{#if attributes.expected_time_warning}}<date class="label label-important">Overdue</date><date>{{attributes.expected_time}}</date>{{else}} Due Date <date>{{attributes.expected_time}}</date>{{/if}}-->
                        <!--{{/if}}-->
                                <br/>
                        <strong>{{getFieldValue this "pro_title"}}</strong>
                        {{#if useRelativeTime}}
                            Due
                            {{relativeTime attributes.record_date class='date'}}
                        {{else}}
                            {{#if useAbsoluteTime}}
                                Due on
                                {{formatDate attributes.record_date class='date'}}
                            {{/if}}
                        {{/if}}
                    </div>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    {{else}}
        <div class="block-footer">{{#if ../collection.dataFetched}}{{str "LBL_NO_DATA_AVAILABLE" this.module}}{{else}}{{str "LBL_LOADING" this.module}}{{/if}}</div>
    {{/if}}
</div>
