{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<!--visibility  false for presentation 25/04/2014-->
<!--<div class="dashlet-options">-->
    <!--<div class="row-fluid">-->
            <!--<div class="btn-group dashlet-group" data-toggle="buttons-radio">-->
                <!--<button class="btn{{#eq settings.attributes.date "today"}} active{{/eq}}" value="today" data-action="date-switcher">{{str "Overdue" this.module}}</button>-->
                <!--<button class="btn{{#eq settings.attributes.date "future"}} active{{/eq}}" value="future" data-action="date-switcher">{{str "In time" this.module}}</button>-->
            <!--</div>-->

            <!--<div class="btn-group pull-right dashlet-group" data-toggle="buttons-button">-->
                 <!--<button class="btn{{#eq settings.attributes.date "participate"}} active{{/eq}}" value="participate" data-action="date-clicked">{{str "Participate" this.module}}</button>-->
            <!--</div>-->

    <!--</div>-->
<!--</div>-->
<div class="dashlet-options">
    <div class="row-fluid">
        {{#if settings.attributes.date}}
            <div class="btn-group dashlet-group" data-toggle="buttons-radio">
                <button class="btn{{#eq settings.attributes.date "true"}} active{{/eq}}" value="true" data-action="date-switcher">{{str "LBL_PMSE_LABEL_CURRENT" this.module}}</button>
                <button class="btn{{#eq settings.attributes.date "false"}} active{{/eq}}" value="false" data-action="date-switcher">{{str "LBL_PMSE_LABEL_OVERDUE" this.module}}</button>
            </div>
            <!--<div class="btn-group dashlet-group"  style="padding-left: 70px;">
                <button class="btn{{#eq settings.attributes.date "participate"}} active{{/eq}}" value="participate" data-action="participate-switcher">{{str "LBL_BUSINESS_RULES_DASHLET_PARTICIPATE" this.module}}</button>
            </div>-->
        {{/if}}
        {{#if settings.attributes.visibility}}
            <div class="btn-group dashlet-group" data-toggle="buttons-radio" style="padding-left: 30px;">
                <!--<button class="btn{{#eq settings.attributes.visibility "user"}} active{{/eq}}" value="user" data-action="visibility-switcher" rel="tooltip" data-container="body" data-placement="bottom" title="{{str "LBL_PLANNED_ACTIVITIES_DASHLET_USER_BUTTON_LABEL" this.module}}" track="click:viewMyUserDashlet"><i class="fa fa-user"></i></button>-->
                <!--<button class="btn{{#eq settings.attributes.visibility "group"}} active{{/eq}}" value="group" data-action="visibility-switcher" rel="tooltip" data-container="body" data-placement="bottom" title="{{str "LBL_PLANNED_ACTIVITIES_DASHLET_GROUP_BUTTON_LABEL" this.module}}" track="click:viewMyTeamsDashlet"><i class="fa fa-users"></i></button>-->
            </div>
        {{/if}}
    </div>
</div>
