{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="dashboard" data-dashboard="true">
    <div class="cols row-fluid">
        <div>
            <div class="preview-headerbar">
                <div class="headerpane">
                    <span class="record-cell">
                        <h1 class="dnb-account-create"><span class="detail">{{str "LBL_DNB_ACC_CRT"}}</span></h1>
                    </span>
                    <span class="record-cell">
                        <h1><span class="detail"></span></h1>
                    </span>
                </div>
            </div>
        </div>
        <ul class="dashlets row-fluid">
            <li class="span12">
                <ul class="dashlet-row ui-sortable ui-sortable-disabled">
                    <li class="row-fluid sortable" data-sortable="1">
                        <div class="rows well well-invisible">
                            <a data-toggle="dropdown"  class="btn btn-invisible btn-link hide">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu left carettop">
                                <div>
                                    <li><a class="remove-row">{{str "LBL_REMOVE"}}</a></li>
                                </div>
                            </ul>
                            <a class="move btn btn-invisible btn-link hide">
                                <i class="fa fa-arrows-v"></i></a>
                            <ul class="dashlet-cell rows row-fluid">
                                <li class="dashlet-container span12">
                                    <div>
                                        <div class="thumbnail dashlet">
                                            <div data-dashlet="toolbar">
                                                <div class="dashlet-header">
                                                    <div class="btn-toolbar pull-right">
                                                    	<span sfuuid="1007" class="dashlet-toolbar">
                                                    		<a onclick="return false;" href="javascript:void(0);" data-dashletaction="importDNBData" name="" class="btn btn-primary importDNBData">
                                                                {{str "LBL_DNB_IMPORT"}}
                                                            </a>
														</span>
                                                    </div>
                                                    <h4 data-toggle="dashlet">{{str "LBL_DNB_COMP_INFO"}}</h4>
                                                </div>
                                            </div>
                                            <div data-dashlet="dashlet" class="dashlet-content">
                                                <div id="dnb-company-detail-loading" class="block-footer">
                                                    {{str "LBL_DNB_COMP_INFO_LOAD"}} ...
                                                </div>
                                                <div id="dnb-company-details">
                                                    <div class="dnb-show-all">
                                                        {{#if dnbProduct.product}}
                                                            <div class='dnb-company-details'>
                                                                <ul class="unstyled listed">
                                                                    {{#each dnbProduct.product}}
                                                                        <li>
                                                                            <div class='dnb-checkbox-nav'>
                                                                                <input type="checkbox" name="{{this.dataName}}" id="{{this.dataName}}" class="dnb_checkbox" checked />
                                                                            </div>
                                                                            <div class="dnb-company-label">
                                                                                {{#if this.dnbLabel}}
                                                                                    {{{this.dnbLabel}}}
                                                                                {{else}}
                                                                                    {{str this.dataLabel}}
                                                                                {{/if}}
                                                                            </div>
                                                                            {{#if this.dataType}}
                                                                                {{#eq this.dataType 'link'}}
                                                                                    <div class="url-txt importData">
                                                                                {{/eq}}
                                                                            {{else}}
                                                                                <div class="txt importData">
                                                                            {{/if}}
                                                                            {{this.dataElement}}
                                                                            </div>
                                                                        </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        {{else}}
                                                            <aside class='create-no-data'>
                                                                <em>{{dnbProduct.errmsg}}</em>
                                                            </aside>
                                                        {{/if}}
                                                    </div>
                                                    <div class="dnb-show-more">
                                                        <a class="backToList">
                                                            <i class="fa fa-arrow-left"></i>
                                                            {{str "LBL_DNB_BACK_TO_SRCH"}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fa fa-download swappable-dashlet"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="row-fluid" data-sortable="1">
                        <div class="rows well well-invisible">
                            <a data-toggle="dropdown" class="btn btn-invisible btn-link hide">
                                <i class="fa fa-cog"></i>
                            </a>
                            <a class="move btn btn-invisible btn-link hide">
                                <i class="fa fa-arrows-v"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
