{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="dnb-company-detail-loading" class="block-footer">
    {{str "LBL_DNB_COMP_INFO_LOAD"}} ...
</div>
<div id="dnb-company-details">
    <div class="dnb-show-all">
        {{#if dnbFirmo.product}}
            <div class='dnb-company-details'>
                <ul class="unstyled listed">
                    {{#each dnbFirmo.product}}
                        <li>
                            <div class='dnb-company-label'>
                                {{#if dnbLabel}}
                                    {{{dnbLabel}}}
                                {{else}}
                                    {{str dataLabel}}
                                {{/if}}
                            </div>
                            {{#if dataType}}
                                {{#eq dataType 'link'}}
                                <div class="url-txt importData">
                                {{/eq}}
                            {{else}}
                            <div class="txt importData">
                            {{/if}}
                            {{{dataElement}}}
                        </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <aside class='create-no-data'>
                {{#if dnbFirmo.errmsg}}
                    <em>{{dnbFirmo.errmsg}}</em>
                {{else}}
                    <em>{{str "LBL_DNB_NO_DATA"}}</em>
                {{/if}}
            </aside>
        {{/if}}
    </div>
    {{#if dnbFirmo.backToListLabel}}
        <div class="dnb-show-more">
            <a class="backToList"> {{dnbFirmo.backToListLabel}} <i class="fa fa-chevron-down"></i> </a>
        </div>
    {{/if}}
</div>
